.cart-items {
	overflow: auto;

	max-height: 20rem;
	margin: 0;
	padding: 0;

	list-style: none;
}

.total {
	font-size: 1.5rem;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 1rem 0;
}

.actions {
	text-align: right;
}

.actions button {
	font: inherit;

	margin-left: 1rem;
	padding: 0.5rem 2rem;

	cursor: pointer;

	border: 1px solid #8a2b06;
	border-radius: 25px;
	background-color: transparent;
}

.actions button:hover,
.actions button:active {
	color: white;
	border-color: #5a1a01;
	background-color: #5a1a01;
}

.actions .button--alt {
	color: #8a2b06;
}

.actions .button {
	color: white;
	background-color: #8a2b06;
}
