.form {
	overflow: auto;

	margin: 1rem 0;
}

.control {
	height: 6.5rem;
	margin-bottom: 0.5rem;
}

.control label {
	font-weight: bold;

	display: block;

	margin-bottom: 0.25rem;

	color: #5a1a01;
}

.control input {
	font: inherit;

	width: 20rem;
	max-width: 100%;

	border: 1px solid #ccc;
	border-radius: 4px;
}

.actions {
	display: flex;
	justify-content: flex-end;

	gap: 1rem;
}

.actions button {
	font: inherit;

	padding: 0.5rem 2rem;

	cursor: pointer;

	color: #5a1a01;
	border: none;
	border-radius: 25px;
	background-color: transparent;
}

.actions button:hover,
.actions button:active {
	background-color: #ffe6dc;
}

.actions .submit {
	color: white;
	border: 1px solid #5a1a01;
	background-color: #5a1a01;
}

.actions .submit:hover,
.actions .submit:active {
	background-color: #7a2706;
}

.invalid label {
	color: #ca3e51;
}

.invalid input {
	border-color: #aa0b20;
	background-color: #ffeff1;
}
