.form {
	text-align: right;
}

.form button {
	font: inherit;
	font-weight: bold;

	padding: 0.25rem 2rem;

	cursor: pointer;

	color: white;
	border: 1px solid #8a2b06;
	border-radius: 20px;
	background-color: #8a2b06;
}

.form button:hover,
.form button:active {
	border-color: #641e03;
	background-color: #641e03;
}
