.button {
	font: inherit;
	font-size: 1.15rem;

	padding: 0.75rem 3.5rem;

	cursor: pointer;

	color: white;
	border: 1px solid #4f005f;
	border-radius: 30px;
	background: #4f005f;
}

.button:hover,
.button:active {
	border-color: #741188;
	background: #741188;
}

.button:focus {
	outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
	cursor: not-allowed;

	color: #666;
	border-color: #ccc;
	background: #ccc;
}
