.form {
	padding: 1rem;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	font-weight: bold;

	display: block;

	margin-bottom: 0.5rem;
}

.control input,
.control textarea {
	font: inherit;

	display: block;

	width: 100%;
	padding: 0.25rem;

	border: 1px solid #ccc;
	border-radius: 4px;
}

.actions {
	margin-top: 1rem;

	text-align: right;
}

.actions button {
	font: inherit;
	font-weight: bold;

	padding: 0.5rem 1.5rem;

	cursor: pointer;

	color: white;
	border: 1px solid #77002e;
	border-radius: 4px;
	background-color: #77002e;
}

.actions button:hover,
.actions button:active {
	border-color: #a50e48;
	background-color: #a50e48;
}
